# Files to be ignored in github
id_rsa.pub
id_rsa
id_dsa.pub
id_dsa
*.pub
*.pem
*.key
.terraform/
terraform.tfstate
terraform.tfstate.backup
tfstate.backup
.terraform.lock.hcl
*.crt
errored.tfstate
.env
tfapply.output
tfdestroy.output
tfplan.output
